<!DOCTYPE html>
<html>
  <head>
    <title>Lab 04</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Les membres de l'equipe sont: Marc-Antoine et Marc-Antoine</p>
  </body>
</html>
